---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title="Geor Ecommerce - Información personal">
	<h5>Ver mi Información Personal</h5>
	<hr />
	<p>
		<strong>Descripción: </strong>Endpoint para ver mi información personal
	</p>
	<p>
		<strong>URL: </strong>
		<span>http://pasion.georfacturacion.test/api/v1/ecommerce/user</span>
	</p>
	<p><strong>Método: </strong>GET</p>
	<p><strong>Requiere: </strong>Autenticación</p>
	<p>
		<strong>Respuesta</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "success": true,
    "data": {
        "id": 29,
        "name": "Demo Demo Demo Demo",
        "email": "demo@gmail.com",
        "phone": "978846767",
        "api_token": "yW9v7yB35kraU4rZ1kliplR8Ue7HckKo9FCeStLu5d1p5saztlWBbIOETLbiQprR",
        "has_verified_email": true,
		"has_verified_phone": false,
        "avatar": "http://georfacturacion.test/storage/avatars/169541691028.png",
        "extras": {
            "lang": "en",
            "theme": "dark",
            "facebook": "https://faceboo.com/yoelct"
        },
		"country": {
            "id": "PE",
            "description": "PERU",
            "code": "+51"
        },
        "created_at": "20-09-2023 16:06:56"
    }
}, null, 2)}
	</pre>
</MainLayout>