---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title="Geor Ecommerce - Paises">
	<h5>Registro</h5>
	<hr />
	<p>
		<strong>Descripción: </strong>Endpoint para registrar a un usuario de la tienda
	</p>
	<p>
		<strong>URL: </strong>
		<span>http://pasion.georfacturacion.test/api/v1/ecommerce/register</span>
	</p>
	<p><strong>Método: </strong>POST</p>
	<p>
		<strong>Request: </strong>
	</p>
	<pre>
		{
			JSON.stringify({
    "name": "Juan Yoel Cerna Torres",
    "email": "joel201087@gmail.com",
    "phone": "978846767",
    "password": "123456"
}, null, 2)
		}
	</pre>
	<p><strong>Tabla de referencias</strong></p>
	<table>
		<thead>
			<tr>
				<th>Columna</th>
				<th>Descripción</th>
				<th>Tipo de dato</th>
				<th>Validación</th>
				<th>Requerido</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>name</td>
				<td>Nombres y apellidos del usuario</td>
				<td>Cadena</td>
				<td>Máximo 200 caracteres</td>
				<td>Si</td>
			</tr>
			<tr>
				<td>email</td>
				<td>Correo electrónico</td>
				<td>Cadena</td>
				<td>Tiene que ser un email válido y no mas de 200 caracteres</td>
				<td>Si</td>
			</tr>
			<tr>
				<td>phone</td>
				<td>Número de teléfono</td>
				<td>Cadena</td>
				<td>Máximo 20 digitos, mínimo 5 digitis, solo se admiten números</td>
				<td>Si</td>
			</tr>
			<tr>
				<td>password</td>
				<td>Contraseña</td>
				<td>Cadena</td>
				<td>Mínimo 6 caracteres, máximo 50 caracteres</td>
				<td>Si</td>
			</tr>
		</tbody>
	</table>
	<p>
		<strong>Respuesta</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "data": {
        "id": 2,
        "name": "Juan Yoel Cerna Torres",
        "email": "joel201087@gmail.com",
        "phone": "978846767",
        "api_token": "wGTWybIjFbXHKBMajp67gpVem97m0MG8OJj9KfTXFwUzc9X0jaFK16XletznSfK5",
        "has_verified": false,
        "country": {
            "id": "PE",
            "description": "PERU"
        },
        "created_at": "15-09-2023 16:57:28"
    },
    "success": true,
    "message": "Usuario registrado de forma correcta."
}, null, 2)}
	</pre>
</MainLayout>
