---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Geor Ecommerce - Paises">
    <h5>Listado de tablas auxiliares para registrar un item</h5>
    <hr>
    <p>
        <strong>Descripción:</strong> Endpoint donde se ve un listado de categorías, tipos de monedas, tipos de unidades, tipo de IGV y establecimientos o almacenes
    </p>
    <p>
        <strong>URL:</strong>
        <span>http://pasion.georfacturacion.test/api/v1/items/tables</span>
    </p>
    <p><strong>Método:</strong>GET</p>

    <p>
        <strong>Respuesta</strong>
    </p>

    <pre>
		{ JSON.stringify(    
        {
    "data": {
        "categories": [
            {
                "id": 1,
                "name": "Para tí"
            },
            {
                "id": 2,
                "name": "Destacados"
            }
        ],
        "currency_types": [
            {
                "id": "PEN",
                "symbol": "S/",
                "description": "Soles"
            },
            {
                "id": "USD",
                "symbol": "$",
                "description": "Dólares Americanos"
            }
        ],
        "unit_types": [
            {
                "id": "ZZ",
                "description": "Servicio"
            },
            {
                "id": "BX",
                "description": "Caja"
            },
            {
                "id": "GLL",
                "description": "Galones"
            },
            {
                "id": "GRM",
                "description": "Gramos"
            },
            {
                "id": "KGM",
                "description": "Kilos"
            },
            {
                "id": "LTR",
                "description": "Litros"
            },
            {
                "id": "MTR",
                "description": "Metros"
            },
            {
                "id": "FOT",
                "description": "Pies"
            },
            {
                "id": "INH",
                "description": "Pulgadas"
            },
            {
                "id": "NIU",
                "description": "Unidades"
            },
            {
                "id": "YRD",
                "description": "Yardas"
            },
            {
                "id": "HUR",
                "description": "Hora"
            }
        ],
        "IGV_types": [
            10,
            18
        ],
        "warehouses": [
            {
                "id": 1,
                "description": "Almacén - Oficina Principal"
            }
        ]
    },
    "success": true,
    "message": "tablas auxiliares para la creación de items mostradas de forma correcta."
}, null, 2)}
    </pre>