---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Geor Ecommerce - Paises">
    <h5>Tipos de unidades de medida</h5>
    <hr />
    <p>
        Se requiere autenticación y validación para acceder a estas API.
        Asegúrese de proporcionar las credenciales adecuadas.
    </p>
    <hr />
    <p>
        <strong>Tabla de referencias</strong>
    </p>

    <table>
        <thead>
            <tr>
                <th>Columna</th>
                <th>Descripción</th>
                <th>Tipo de dato</th>
                <th>Requerido</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>id</td>
                <td>Código de la unidad de medida</td>
                <td>String</td>
                <td>Si</td>
            </tr>
            <tr>
                <td>description</td>
                <td>Nombre de la unidad de medida</td>
                <td>String</td>
                <td>Si</td>
            </tr>
            <tr>
                <td>symbol</td>
                <td>Simbolo o abreviatura de la unidad de medida</td>
                <td>String</td>
                <td>No</td>
            </tr>
            <tr>
                <td>active</td>
                <td>Si la unida de medida esta activa o no</td>
                <td>boleano</td>
                <td>Si</td>
            </tr>
        </tbody>
    </table>
    <hr />
    <h6>Listado de tipos de unidades de medida por columna de la tabla</h6>
    <p>
        <strong>Descripción:</strong>Endpoint para selecionar las columnas
        deseadas de la tabla
    </p>

    <p>
        <strong>URL:</strong>
        <span
            >http://pasion.georfacturacion.test/api/v1/unit_types/showfields</span
        >
    </p>
    <p><strong>Método:</strong>GET</p>
    <p>
        <strong>Request:</strong>
    </p>
    <pre>
        { JSON.stringify({
            "fields": [
                "id",
                "description",
                "symbol",
                "active"
            ]
        }, null, 2)}
    </pre>
    <p>
        <strong>Respuesta</strong>
    </p>
    <pre>
		{ JSON.stringify({
            "data": [
            {
            "id": "ZZ",
            "description": "Servicio",
            "symbol": null,
            "active": 1
        },
        {
            "id": "BX",
            "description": "Caja",
            "symbol": null,
            "active": 1
        },                
            ],
            "success": true,
            "message": "Listado de tipo de unidad mostrados de forma correcta."}, null, 2)}
    </pre>

    <h6>Listado de tipos de unidades de medida</h6>
    <p>
        <strong>Descripción:</strong>Endpoint para ver todo el listado de los
        tipos de unidades de medida
    </p>
    <p>
        <strong>URL:</strong>
        <span>http://pasion.georfacturacion.test/api/v1/unit_types</span>
    </p>
    <p><strong>Método:</strong>GET</p>
    <p>
        <strong>Request:</strong>
    </p>
    <pre>
        No se requieren parámetros adicionales para esta solicitud.
    </pre>
    <p>
        <strong>Respuesta</strong>
    </p>

    <pre>
		{ JSON.stringify({
            "data": [
            {
            "id": "ZZ",
            "description": "Servicio",
            "symbol": null,
            "active": 1
        },
        {
            "id": "BX",
            "description": "Caja",
            "symbol": null,
            "active": 1
        },
            ],
            "success": true,
            "message": "Listado de tipo de unidad mostrados de forma correcta."}, null, 2)}
    </pre>

    <h6>Registro de tipos de unidades de medida</h6>
    <p>
        <strong>Descripción:</strong>Endpoint para registrar los tipos de cambio
        monetario
    </p>
    <p>
        <strong>URL:</strong>
        <span
            >http://pasion.georfacturacion.test/api/v1/unit_types/register</span
        >
    </p>
    <p><strong>Método:</strong>POST</p>

    <p>
        <strong>Request:</strong>
    </p>
    <pre>
    {
    JSON.stringify({
    "id": "KG",
    "description": "XXXXX",
    "symbol": "masd",
    "active": 1
    }, null, 2)
    }
    </pre>
    <p>
        <strong>Respuesta</strong>
    </p>
    <pre>
        { JSON.stringify({
            "data": {
                "id": "KG",
                "description": "XXXXX",
                "symbol": "masd",
                "active": 1
            },
            "success": true,
            "message": "Exito tipo de cambio monetario creado de forma correcta ."}, null, 2)}
    </pre>

    <h6>Actualizar tipos de unidades de medida</h6>
    <p>
        <strong>Descripción:</strong>Endpoint para actualiza tipos de unidades
        de medida
    </p>
    <p>
        <strong>URL:</strong>
        <span
            >http://pasion.georfacturacion.test/api/v1/unit_types/update/[Identificador]</span
        >
    </p>
    <p><strong>Método:</strong>PUT</p>

    <p>
        <strong>Request:</strong>
    </p>
    <pre>
    {
    JSON.stringify({
    "description": "ffffff",
    "symbol": "ggg",
    "active": 1
    }, null, 2)
    }
    </pre>
    <p>
        <strong>Respuesta</strong>
    </p>
    <pre>
	{ JSON.stringify({
        "data": {
            "id": "KG",
            "description": "ffffff",
            "symbol": "ggg",
            "active": 1
        },
        "success": true,
        "message": "tipo de unidad actualizado de forma correcta."}, null, 2)}
    </pre>

    <h6>Eliminar tipos de unidades de medida</h6>
    <p>
        <strong>Descripción:</strong>Endpoint elimina el tipos de unidades de
        medida
    </p>
    <p>
        <strong>URL:</strong>
        <span
            >http://pasion.georfacturacion.test/api/v1/unit_types/delete/[Identificador]</span
        >
    </p>
    <p><strong>Método:</strong>DELETE</p>

    <p>
        <strong>Request:</strong>
    </p>
    <pre>
    No se requieren parámetros adicionales para esta solicitud.
    </pre>
    <p>
        <strong>Respuesta</strong>
    </p>
    <pre>
	{ JSON.stringify({
   "success": true,
    "message": "Tipo de unidad eliminado de forma correcta.",
    }, null, 2)}
    </pre>
</MainLayout>
