---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title="Documentación de API: Información Legal">
    <section>
        <h5>Documentación de API: Información Legal</h5>
        <h6>Obtener Información Legal</h6>
        <hr />

        <h6>Descripción</h6>
        <p>
            Esta API proporciona información legal relacionada con la tienda en línea de Geor Ecommerce, incluyendo devoluciones y cambios, términos y condiciones, política de privacidad y sobre nosotros.
        </p>

        <h6>Detalles de la API</h6>
        <ul>
            <li><strong>URL:</strong> <a href="https://wts.georfacturacion.test/api/v1/ecommerce/legalinfos" target="_blank">https://wts.georfacturacion.test/api/v1/ecommerce/legalinfos</a></li>
            <li><strong>Método:</strong> GET</li>
        </ul>

        <h6>Parámetros de la Solicitud</h6>
        <p>No se requieren parámetros adicionales para esta solicitud.</p>

        <h6>Respuesta</h6>
        <p>La respuesta de la API contiene un array de objetos, cada uno representando un documento legal. Los campos disponibles en cada objeto son:</p>
        <ul>
            <li><strong>id:</strong> El identificador único del documento.</li>
            <li><strong>code:</strong> El código del documento.</li>
            <li><strong>description:</strong> La descripción del documento.</li>
            <li><strong>content:</strong> El contenido del documento en formato HTML.</li>
            <li><strong>created_at:</strong> La fecha de creación del documento.</li>
            <li><strong>updated_at:</strong> La fecha de última actualización del documento.</li>
        </ul>

        <p>Ejemplo de respuesta:</p>
        <pre>
            {   
                JSON.stringify({
                    "data": [
                        {
                            "id": 4,
                            "code": "returns_and_exchanges",
                            "description": "Devoluciones y cambios",
                            "content": "...",
                            "created_at": "18-09-2023 01:37:06",
                            "updated_at": "18-09-2023 01:37:06"
                        },
                        {
                            "id": 3,
                            "code": "terms_and_conditions",
                            "description": "Términos y condiciones",
                            "content": "...",
                            "created_at": "18-09-2023 01:35:48",
                            "updated_at": "18-09-2023 01:35:48"
                        },
                        {
                            "id": 2,
                            "code": "privacy_policy",
                            "description": "Política de privacidad",
                            "content": "...",
                            "created_at": "16-09-2023 03:26:26",
                            "updated_at": "18-09-2023 01:35:11"
                        },
                        {
                            "id": 1,
                            "code": "about_us",
                            "description": "Sobre nosotros",
                            "content": "...",
                            "created_at": "15-09-2023 02:02:31",
                            "updated_at": "18-09-2023 01:34:19"
                        }
                    ]
                }, null, 2)
            }
        </pre>

        <p>Esta API devuelve un array de documentos legales, cada uno con su contenido y detalles.</p>
    </section>
    <br><hr><hr><br>
    <section>
        <h5>Documentación de API: Información Legal</h5>
        <h6>Obtener Información Legal</h6>
        <hr />

        <h6>Descripción</h6>
        <p>
            Esta API proporciona información legal relacionada con la tienda en línea de Geor Ecommerce, incluyendo devoluciones y cambios, términos y condiciones, política de privacidad y sobre nosotros.
        </p>

        <h6>Detalles de la API</h6>
        <p>
            Puede obtener información legal específica utilizando un parámetro `code` en la URL.
        </p>
        <ul>
            <li><strong>Obtener Documento Legal por Code:</strong></li>
            <ul>
                <li><strong>URL:</strong> <a href="https://wts.georfacturacion.test/api/v1/ecommerce/legalinfos/about_us/show" target="_blank">https://wts.georfacturacion.test/api/v1/ecommerce/legalinfos/about_us/show</a></li>
                <li><strong>Método:</strong> GET</li>
                <li><strong>Parámetro `code`:</strong> El código del documento legal que se desea obtener.</li>
            </ul>
        </ul>

        <h6>Parámetros de la Solicitud</h6>
        <p>
            Para obtener un documento legal específico, incluya el parámetro `code` en la URL con el código del documento que desea recuperar.
        </p>
        <p><strong>Tabla de referencias</strong></p>
        <table>
            <thead>
                <tr>
                    <th>Columna</th>
                    <th>Descripción</th>
                    <th>Tipo de dato</th>
                    <th>Validación</th>
                    <th>Requerido</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>code</td>
                    <td>Nombre en snake_case</td>
                    <td>Cadena</td>
                    <td></td>
                    <td>Si</td>
                </tr>
            </tbody>
        </table>
        <br>
        <h6>Respuesta</h6>
        <p>La respuesta de la API contiene un objeto que representa el documento legal solicitado. Los campos disponibles en el objeto son:</p>
        <ul>
            <li><strong>id:</strong> El identificador único del documento.</li>
            <li><strong>code:</strong> El código del documento.</li>
            <li><strong>description:</strong> La descripción del documento.</li>
            <li><strong>content:</strong> El contenido del documento en formato HTML.</li>
            <li><strong>created_at:</strong> La fecha de creación del documento.</li>
            <li><strong>updated_at:</strong> La fecha de última actualización del documento.</li>
        </ul>

        <p>Ejemplo de respuesta:</p>
        <pre>
            {   
                JSON.stringify({
                    "data": {
                        "id": 1,
                        "code": "about_us",
                        "description": "Sobre nosotros",
                        "content": "...",
                        "created_at": "15-09-2023 02:02:31",
                        "updated_at": "18-09-2023 01:34:19"
                    }
                }, null, 2)
            }
        </pre>

        <p>Esta API devuelve el documento legal solicitado según el código proporcionado.</p>
    </section>
</MainLayout>
