---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title="Geor Ecommerce - Cambiar mi correo electrónico o número de telefóno">
	<h5>Actualizar mi correo electrónico o número de telefóno</h5>
	<hr />
	<p>
		<strong>Descripción: </strong>En esta sección se describe la forma en la que un usuario puede modificar o actualizar su correo electrónico o su número de telefóno.
	</p>
	<br>
	<h6>Solicitar cambio de correo electrónico</h6>
	<p>
		<strong>URL: </strong>
		<span>http://pasion.georfacturacion.test/api/v1/ecommerce/users/change/email</span>
	</p>
	<p><strong>Método: </strong>POST</p>
	<p><strong>Requiere: </strong>Autenticación | Validación de cuenta</p>
	<p>
		<strong>Request:</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "email": "correo_nuevo@gmail.com"
}, null, 2)}
	</pre>
	<p>
		<strong>Respuesta</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "success": true,
    "message": "Se ha enviado un código a la siguiente cuenta de correo electrónico launica@gmail.com, revise y siga las instrucciones por favor."
}, null, 2)}
	</pre>
	<br>
	<h6>Validar código para cambio de correo electrónico</h6>
	<p>
		<strong>URL: </strong>
		<span>http://pasion.georfacturacion.test/api/v1/ecommerce/users/validate/email</span>
	</p>
	<p><strong>Método: </strong>POST</p>
	<p><strong>Requiere: </strong>Autenticación | Validación de cuenta</p>
	<p>
		<strong>Request:</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "email": "correo_nuevo@gmail.com",
    "code": "120984"
}, null, 2)}
	</pre>
	<p>
		<strong>Respuesta</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "success": true,
    "message": "El correo electrónico se ha actualizado de forma correcta."
}, null, 2)}
	</pre>
	<br>
	<br>

	<h6>Solicitar cambio de número de telefóno</h6>
	<p>
		<strong>URL: </strong>
		<span>http://pasion.georfacturacion.test/api/v1/ecommerce/users/change/phone</span>
	</p>
	<p><strong>Método: </strong>POST</p>
	<p><strong>Requiere: </strong>Autenticación | Validación de cuenta</p>
	<p>
		<strong>Request:</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "phone": "978846767"
}, null, 2)}
	</pre>
	<p>
		<strong>Respuesta</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "success": true,
    "message": "Se ha enviado un código al siguiente número de telefóno 978846767, revise y siga las instrucciones por favor."
}, null, 2)}
	</pre>
	<br>
	<h6>Validar código para cambiar de número de telefóno</h6>
	<p>
		<strong>URL: </strong>
		<span>http://pasion.georfacturacion.test/api/v1/ecommerce/users/validate/phone</span>
	</p>
	<p><strong>Método: </strong>POST</p>
	<p><strong>Requiere: </strong>Autenticación | Validación de cuenta</p>
	<p>
		<strong>Request:</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "phone": "978846767",
    "code": "349602"
}, null, 2)}
	</pre>
	<p>
		<strong>Respuesta</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "success": true,
    "message": "El telefóno se ha actualizado de forma correcta."
}, null, 2)}
	</pre>
</MainLayout>