---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title="Geor Ecommerce - Información personal">
	<h5>Actualizar mi Información Personal</h5>
	<hr />
	<p>
		<strong>Descripción: </strong>Endpoint para actualizar la información personal del usuario logueado
	</p>
	<p>
		<strong>URL: </strong>
		<span>http://pasion.georfacturacion.test/api/v1/ecommerce/users/update</span>
	</p>
	<p><strong>Método: </strong>POST</p>
	<p><strong>Requiere: </strong>Autenticación | Validación de cuenta</p>
	<p>
		<strong>Request:</strong>
	</p>
	<pre>
		{ JSON.stringify({"name": "Lisbeth Lizet Mendoza Regalado",
    "extras": {
        "lang": "es_ES",
        "theme": "system",
        "facebook": "https://faceboo.com/yoelct"
    },
	"country_id": "AR",
    "avatar": "image en base 64"}, null, 2)}
	</pre>
	<p>
		<strong>Respuesta</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "success": true,
    "message": "Información del usuario actualizada de forma correcta."
}, null, 2)}
	</pre>
</MainLayout>