---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title="Documentación de API: Libro de Reclamaciones">
  <section>
    <h5>Documentación de API: Libro de Reclamaciones</h5>
    <h6>Registrar un Reclamo</h6>
    <hr />

    <h6>Descripción</h6>
    <p>
      Esta API permite registrar un reclamo en el Libro de Reclamaciones de la tienda en línea de Geor Ecommerce.
    </p>

    <h6>Detalles de la API</h6>
    <p>
      Para registrar un reclamo, realice una solicitud POST a la siguiente URL:
    </p>
    <ul>
      <li>
        <strong>URL:</strong>{' '}
        <a href="https://wts.georfacturacion.test/api/v1/ecommerce/claims/register" target="_blank">
          https://wts.georfacturacion.test/api/v1/ecommerce/claims/register
        </a>
      </li>
      <li>
        <strong>Método:</strong> POST
      </li>
      <li>
        <strong>Autenticación:</strong> Se requiere autenticación para acceder a esta API. Asegúrese de proporcionar las credenciales de autenticación adecuadas en el encabezado de la solicitud.
      </li>
    </ul>

    <h6>Parámetros del Cuerpo de la Solicitud</h6>
    <p>
      El cuerpo de la solicitud debe contener la siguiente estructura JSON con todos los campos requeridos:
    </p>
    <pre>
      {`
{
  "full_name": "prueba",
  "document_type": "prueba",
  "document_number": "prueba",
  "email": "prueba",
  "phone": "prueba",
  "address": "prueba",
  "department": "prueba",
  "province": "prueba",
  "district": "prueba",
  "description": "prueba"
}
`}
    </pre>

    <p>
      Todos los campos son requeridos para registrar un reclamo en el Libro de Reclamaciones.
    </p>

    <h6>Respuesta</h6>
    <p>
      La respuesta de la API será un objeto JSON que indica si el reclamo se guardó exitosamente o no:
    </p>
    <pre>
      {`
{
  "success": true,
  "message": "Reclamo guardado exitosamente."
}
`}
    </pre>

    <p>
      El campo "success" indicará si el registro fue exitoso (true) o no (false). El campo "message" proporcionará un mensaje descriptivo sobre el resultado de la operación.
    </p>
  </section>
</MainLayout>;

