---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title="Geor Ecommerce - Banners">
	<h5>Banners</h5>
	<hr />
	<h6>Listado de Banners</h6>
	<p>
		<strong>Descripción: </strong>Ver todo el listado de banners activos
		registrados en la base de datos
	</p>
	<p>
		<strong>URL: </strong>
		<span>https://wts.georfacturacion.test/api/v1/ecommerce/banners</span>
	</p>
	<p><strong>Método: </strong>GET</p>
	
	<p><strong>Tabla de referencias</strong></p>
	<table>
		<thead>
			<tr>
				<th>Columna</th>
				<th>Descripción</th>
				<th>Tipo de dato</th>
				<th>Requerido</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>description</td>
				<td>Descripción de la imagen del banner</td>
				<td>Cadena</td>
				<td>No</td>
			</tr>
            <tr>
                <td>image_desktop</td>
                <td>Imagen del banner para escritorio</td>
                <td>cadena</td>
                <td>Si</td>
            </tr>
            <tr>
                <td>image_movil</td>
                <td>Imagen del banner para movil</td>
                <td>cadena</td>
                <td>Si</td>
            </tr>
            <tr>
                <td>link_type</td>
                <td>Tipo de link que se abrirá al darle click o tap sobre el banner</td>
                <td>cadena</td>
                <td>Si</td>
            </tr>
            <tr>
                <td>link_mode</td>
                <td>Modo en el que abrirá el link</td>
                <td>cadena</td>
                <td>No</td>
            </tr>
            <tr>
                <td>link_url</td>
                <td>Link que se abrirá cuando el usuario de click al banner</td>
                <td>cadena</td>
                <td>No</td>
            </tr>
            <tr>
                <td>link_value</td>
                <td>Identificador del tipo de link que se abrirá al hacer click en el banner</td>
                <td>cadena</td>
                <td>No</td>
            </tr>
		</tbody>
	</table>
	<p>
		<strong>Respuesta</strong>
	</p>
	<pre>
{ JSON.stringify({
    "data": [
        {
            "description": null,
            "image_desktop": "http://georfacturacion.test/storage/uploads/logos/qkZAnNSA7d27CF2D6q8XcAn0YlP7K4UKyAIIZdNM.jpg",
            "image_movil": "http://georfacturacion.test/storage/uploads/logos/BxihpwohJBZvCzG9GNPr8hwSz6GbwVW8GOfe5IwJ.jpg",
            "link_type": "none",
            "link_mode": "_self",
            "link_url": null,
            "link_value": "1"
        },
        {
            "description": null,
            "image_desktop": "http://georfacturacion.test/storage/uploads/logos/qkZAnNSA7d27CF2D6q8XcAn0YlP7K4UKyAIIZdNM.jpg",
            "image_movil": "http://georfacturacion.test/storage/uploads/logos/BxihpwohJBZvCzG9GNPr8hwSz6GbwVW8GOfe5IwJ.jpg",
            "link_type": "none",
            "link_mode": "_self",
            "link_url": null,
            "link_value": "1"
        },
        {
            "description": null,
            "image_desktop": "http://georfacturacion.test/storage/uploads/logos/qkZAnNSA7d27CF2D6q8XcAn0YlP7K4UKyAIIZdNM.jpg",
            "image_movil": "http://georfacturacion.test/storage/uploads/logos/BxihpwohJBZvCzG9GNPr8hwSz6GbwVW8GOfe5IwJ.jpg",
            "link_type": "none",
            "link_mode": "_self",
            "link_url": null,
            "link_value": "1"
        }
    ],
    "success": true,
    "message": "Listado de Banners mostrados de forma correcta."
}, null, 2)}
	</pre>
</MainLayout>
