---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title="Geor Ecommerce - Detalles de un producto">
	<h5>Información general de un producto</h5>
	<hr />
	<p>
		<strong>Descripción: </strong>Endpoint donde se ve la información general del producto seleccionado
	</p>
	<p>
		<strong>URL: </strong>
		<span>http://pasion.georfacturacion.test/api/v1/ecommerce/shop/products/755</span>
	</p>
	<p><strong>Método: </strong>GET</p>
	<p>
		<strong>Respuesta</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "data": {
        "id": 755,
        "description": "080 ADAPTADOR 3 A 2 PLANO L TIERRA 080 EPEM",
        "internal_id": "ADA-EPE001",
        "price": 2.12,
        "in_offer": true,
        "offer_price": 1.8,
        "prices": [
            {
                "price": 1.9,
                "in_offer": true,
                "offer_price": 1.8,
                "max_quantity": 500,
                "min_quantity": 101
            },
            {
                "price": 1.8,
                "in_offer": false,
                "offer_price": 0,
                "max_quantity": 1000,
                "min_quantity": 501
            },
            {
                "price": 1.7,
                "in_offer": false,
                "offer_price": 0,
                "max_quantity": 5000,
                "min_quantity": 1001
            }
        ],
		"stock": 1,
        "has_variants": true,
        "files": [
            {
                "id": 143,
                "description": null,
                "is_cover": true,
                "path": "http://georfacturacion.test/storage/uploads/variants/Emz6yKCplwC6OwkI4sV9qb32n5vB2PdfWoIN8F3D.png"
            },
            {
                "id": 144,
                "description": null,
                "is_cover": true,
                "path": "http://georfacturacion.test/storage/uploads/variants/Cj1Tr4dxLwGNz8SY7AONStnmQZ2wxcVIKpab6as4.jpg"
            },
            {
                "id": 145,
                "description": null,
                "is_cover": true,
                "path": "http://georfacturacion.test/storage/uploads/variants/303ltArBAw9t1NTdKz0HICTiyYGfu9kQIPVBwFko.png"
            },
            {
                "id": 147,
                "description": null,
                "is_cover": true,
                "path": "http://georfacturacion.test/storage/uploads/variants/4qYGsl2l3ux0JocpirAyN2XLFrF1JlJ0kvnUNnyE.png"
            },
            {
                "id": 148,
                "description": null,
                "is_cover": true,
                "path": "http://georfacturacion.test/storage/uploads/variants/6wEOpH3YeYnDvgasdytax8Rkt8hvmXGGFUFvdamZ.png"
            }
        ],
        "variants": [
            {
                "id": 325,
                "sku": "ADA-EPE001",
                "price": 2.12,
                "in_offer": false,
                "offer_price": 0,
                "stock": 0,
                "prices": [
					{
                        "price": 2.1,
                        "in_offer": true,
                        "offer_price": 2.08,
                        "max_quantity": 200,
                        "min_quantity": 100
                    }
				],
                "values": [
                    {
                        "id": 907,
                        "attribute": "Color",
                        "value": "Celeste",
                        "color": "#00BBF4",
						"is_main": true
                    },
                    {
                        "id": 908,
                        "attribute": "Talla",
                        "value": "XXL",
                        "color": null,
						"is_main": false
                    },
                    {
                        "id": 909,
                        "attribute": "Medida",
                        "value": "1 x 1 Metro",
                        "color": null,
						"is_main": false
                    }
                ],
                "files": []
            }
        ],
        "currency": {
            "id": "PEN",
            "description": "Soles",
            "symbol": "S/"
        },
        "unit_type": {
            "id": "NIU",
            "description": "Unidades"
        },
		"additional": {
			"value": "<p>Tienes un personaje favorito ? <strong>Un Funko Pop!</strong> Es lo mejor para tener a ese personaje que tanto te gusta y admiras contigo, nuestra misión es ayudar a los fanáticos a tener a sus personajes favoritos con ellos y completar sus colecciones! Recíbelo en la caja original, es un producto 100% Original , viene empaquetado en una caja con una ventana transparente que te permitirá observar los detalles de la figura. Los Funko Pop! tienen una amplia variedad y hay modelos para todos los gustos, Marvel, DC, Disney, Anime, Cantantes, Películas, Series, Deportes, Comics, de todo! Cuéntanos, tu ya tienes un Funko Pop?</p>"
		},
		"specifications": [
            {
                "specification": "Garantía",
                "value": "1 año"
            },
            {
                "specification": "Características de salud",
                "value": "No contiene EPB"
            },
            {
                "specification": "Material",
                "value": "Algodón"
            },
            {
                "specification": "Personajes",
                "value": "ActionMan"
            }
        ]
    },
    "success": true,
    "message": "Información procesada de forma correcta."
}, null, 2)}
	</pre>
</MainLayout>