---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Geor Facturaci贸n - Documentaci贸n oficial">
	<h5> Documentaci贸n oficial del proyecto facturaci贸n de Geor</h5>
</MainLayout>
