---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title="Geor Ecommerce - Paises">
  <h3>Paises</h3>
  <hr>
  <h4>Listado de paises</h4>
  <ul>
	<li>
		<strong>URL: </strong>
		<a href="#">Demo.com</a>
	</li>
	<li>
		<strong>Método: </strong>POST
	</li>
	<li>
		<strong>Request: </strong>
		<br>
		<pre>{ JSON.stringify({
    "type": "EMAIL",
    "email": "joel201087@gmail.com",
    "password": "nolose"
}, null, 2)}</pre>
	</li>
  </ul>
</MainLayout>
