---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title="Geor Ecommerce - Paises">
	<h5>Paises</h5>
	<hr />
	<h6>Listado de paises</h6>
	<p>
		<strong>Descripción: </strong>Ver todo el listado de paises activos
		registrados en la base de datos
	</p>
	<p>
		<strong>URL: </strong>
		<span>http://pasion.georfacturacion.test/api/v1/ecommerce/countries</span>
	</p>
	<p><strong>Método: </strong>GET</p>
	<p>
		<strong>Request: </strong>
	</p>
	<pre>
		{
			JSON.stringify({
    "id": "",
    "description": "PE"
}, null, 2)
		}
	</pre>
	<p><strong>Tabla de referencias</strong></p>
	<table>
		<thead>
			<tr>
				<th>Columna</th>
				<th>Descripción</th>
				<th>Tipo de dato</th>
				<th>Requerido</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>id</td>
				<td>Código del país</td>
				<td>Cadena</td>
				<td>No</td>
			</tr>
			<tr>
				<td>description</td>
				<td>Nombre o descripción del país</td>
				<td>Cadena</td>
				<td>No</td>
			</tr>
		</tbody>
	</table>
	<p>
		<strong>Respuesta</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "data": [
        {
            "id": "AR",
            "description": "Argentina",
            "default": false,
            "code": "+54",
            "mask": "9 99 9999 9999",
            "flag": "http://pasion.georfacturacion.test/images/ar.svg",
            "national_division": [
                "Provincia",
                "Departamento o Comuna",
                "Municipio"
            ]
        },
        {
            "id": "BO",
            "description": "Bolivia",
            "default": false,
            "code": "+591",
            "mask": "9 999 9999",
            "flag": "http://pasion.georfacturacion.test/images/bo.svg",
            "national_division": [
                "Departamento",
                "Provincia",
                "Municipio"
            ]
        },
        {
            "id": "BR",
            "description": "Brazil",
            "default": false,
            "code": "+55",
            "mask": "99 99999 9999",
            "flag": "http://pasion.georfacturacion.test/images/br.svg",
            "national_division": [
                "Estado",
                "Municipio",
                "Distrito"
            ]
        },
        {
            "id": "CL",
            "description": "Chile",
            "default": false,
            "code": "+56",
            "mask": "999 999 999",
            "flag": "http://pasion.georfacturacion.test/images/cl.svg",
            "national_division": [
                "Region",
                "Provincia",
                "Comuna"
            ]
        },
        {
            "id": "CO",
            "description": "Colombia",
            "default": false,
            "code": "+57",
            "mask": "999 999 9999",
            "flag": "http://pasion.georfacturacion.test/images/co.svg",
            "national_division": [
                "Departamento",
                "Municipio"
            ]
        },
        {
            "id": "CR",
            "description": "Costa Rica",
            "default": false,
            "code": "+506",
            "mask": "9999 9999",
            "flag": "http://pasion.georfacturacion.test/images/cr.svg",
            "national_division": [
                "Provincia",
                "Cantone",
                "Distrito"
            ]
        },
        {
            "id": "CU",
            "description": "Cuba",
            "default": false,
            "code": "+53",
            "mask": "999 999 999",
            "flag": "http://pasion.georfacturacion.test/images/cu.svg",
            "national_division": [
                "Provincia",
                "Municipio",
                "Consejo popular"
            ]
        },
        {
            "id": "DO",
            "description": "República Dominicana",
            "default": false,
            "code": "+1",
            "mask": "999 999 9999",
            "flag": "http://pasion.georfacturacion.test/images/do.svg",
            "national_division": [
                "Provincia",
                "Municipio"
            ]
        },
        {
            "id": "EC",
            "description": "Ecuador",
            "default": false,
            "code": "+593",
            "mask": "999 999 9999",
            "flag": "http://pasion.georfacturacion.test/images/ec.svg",
            "national_division": [
                "Provincia",
                "Cantón",
                "Parroquia"
            ]
        },
        {
            "id": "SV",
            "description": "El Salvador",
            "default": false,
            "code": "+503",
            "mask": "9999 9999",
            "flag": "http://pasion.georfacturacion.test/images/sv.svg",
            "national_division": [
                "Departamento",
                "Municipio"
            ]
        },
        {
            "id": "GD",
            "description": "Grenada",
            "default": false,
            "code": "+1",
            "mask": "999 999 9999",
            "flag": "http://pasion.georfacturacion.test/images/gd.svg",
            "national_division": [
                "Parroquia"
            ]
        },
        {
            "id": "GT",
            "description": "Guatemala",
            "default": false,
            "code": "+502",
            "mask": "5999 9999",
            "flag": "http://pasion.georfacturacion.test/images/gt.svg",
            "national_division": [
                "Departamento",
                "Municipio",
                "Aldea o Caserío"
            ]
        },
        {
            "id": "GY",
            "description": "Guyana",
            "default": false,
            "code": "+592",
            "mask": "9999 9999",
            "flag": "http://pasion.georfacturacion.test/images/gy.svg",
            "national_division": [
                "Región",
                "Distrito"
            ]
        },
        {
            "id": "HT",
            "description": "Haiti",
            "default": false,
            "code": "+509",
            "mask": "99 99 9999",
            "flag": "http://pasion.georfacturacion.test/images/ht.svg",
            "national_division": [
                "Departamento",
                "Arrondissement",
                "Municipio o Comuna"
            ]
        },
        {
            "id": "HN",
            "description": "Honduras",
            "default": false,
            "code": "+504",
            "mask": "9999 9999",
            "flag": "http://pasion.georfacturacion.test/images/hn.svg",
            "national_division": [
                "Departamento",
                "Municipio",
                "Aldea o Caserío"
            ]
        },
        {
            "id": "JM",
            "description": "Jamaica",
            "default": false,
            "code": "+1",
            "mask": "999 999 9999",
            "flag": "http://pasion.georfacturacion.test/images/jm.svg",
            "national_division": [
                "Parroquia",
                "Municipalidad"
            ]
        },
        {
            "id": "MX",
            "description": "Mexico",
            "default": false,
            "code": "+52",
            "mask": "99 9999 9999",
            "flag": "http://pasion.georfacturacion.test/images/mx.svg",
            "national_division": [
                "Estado",
                "Municipio",
                "Localidad"
            ]
        },
        {
            "id": "NI",
            "description": "Nicaragua",
            "default": false,
            "code": "+505",
            "mask": "9999 9999",
            "flag": "http://pasion.georfacturacion.test/images/ni.svg",
            "national_division": [
                "Region",
                "Departamento",
                "Municipio"
            ]
        },
        {
            "id": "PA",
            "description": "Panama",
            "default": false,
            "code": "+507",
            "mask": "9999 9999",
            "flag": "http://pasion.georfacturacion.test/images/pa.svg",
            "national_division": [
                "Provincia",
                "Municipio",
                "Corregimiento"
            ]
        },
        {
            "id": "PY",
            "description": "Paraguay",
            "default": false,
            "code": "+595",
            "mask": "9999 999 999",
            "flag": "http://pasion.georfacturacion.test/images/py.svg",
            "national_division": [
                "Departamento",
                "Distrito"
            ]
        },
        {
            "id": "PE",
            "description": "Peru",
            "default": true,
            "code": "+51",
            "mask": "999 999 999",
            "flag": "http://pasion.georfacturacion.test/images/pe.svg",
            "national_division": [
                "Departamento",
                "Provincia",
                "Distrito"
            ]
        },
        {
            "id": "PT",
            "description": "Portugal",
            "default": false,
            "code": "+351",
            "mask": "999 999 999",
            "flag": "http://pasion.georfacturacion.test/images/pt.svg",
            "national_division": [
                "Region Autónoma",
                "Distrito",
                "Municipio"
            ]
        },
        {
            "id": "PR",
            "description": "Puerto Rico",
            "default": false,
            "code": "+1",
            "mask": "999 999 9999",
            "flag": "http://pasion.georfacturacion.test/images/pr.svg",
            "national_division": [
                "Municipio",
                "Barrio o Sector"
            ]
        },
        {
            "id": "SR",
            "description": "Suriname",
            "default": false,
            "code": "+597",
            "mask": "8999 9999",
            "flag": "http://pasion.georfacturacion.test/images/sr.svg",
            "national_division": [
                "Distrito",
                "Resorten",
                "Dorpen"
            ]
        },
        {
            "id": "UY",
            "description": "Uruguay",
            "default": false,
            "code": "+598",
            "mask": "999 999 999",
            "flag": "http://pasion.georfacturacion.test/images/uy.svg",
            "national_division": [
                "Departamento",
                "Municipio",
                "Localidad"
            ]
        },
        {
            "id": "VE",
            "description": "Venezuela",
            "default": false,
            "code": "+58",
            "mask": "999 999 9999",
            "flag": "http://pasion.georfacturacion.test/images/ve.svg",
            "national_division": [
                "Estado",
                "Municipio",
                "Parroquia"
            ]
        }
    ],
    "success": true,
    "message": "Listado de paises disponibles mostrados de forma correcta."
}, null, 2)}
	</pre>
</MainLayout>
