---
import { Image } from "astro:assets";
import Logo from '/src/images/logo.svg'
---

<aside>
	<div class="logo">
		<Image src={Logo} alt="Logo" class="img-fluid" />
	</div>
	<ul class="menu-vertical">
		<li>
			<a href="/countries">Países</a>
		</li>
		<li>
			<a href="/langs">Idiomas</a>
		</li>
	</ul>
</aside>

<style>
	aside{
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		width: 200px;
		box-shadow: 0 0 20px rgba(0,0,0,.1);
		background-color: white;
	}
	.logo{
		padding: 1rem;
		text-align: center;
	}
	aside ul{
		margin: 0;
		padding: 0 0 0 10px;
	}
	aside li{
		list-style: none;
	}
	aside li a{
		font-size: 14px;
		text-decoration: none;
	}
	.menu-vertical a {
		font-weight: 400;
		line-height: 1;
	}
	.menu-vertical li{
		padding: .25rem 0;
	}
</style>