---
import { Image } from "astro:assets";
import Logo from '/src/images/logo.svg'
---

<aside>
	<div class="logo">
		<Image src={Logo} alt="Logo" class="img-fluid" />
	</div>
	<ul class="menu-vertical">
		<li>
			<a href="/countries">Países</a>
		</li>
		<li>
			<a href="/langs">Idiomas</a>
		</li>
		<li>
			<a href="/register">Registro</a>
		</li>
		<li>
			<a href="/login">Login</a>
		</li>
		<li>
			<a href="/validate-account">Validar cuenta</a>
		</li>
		<li>
			<a href="/reset-password">Recuperar contraseña</a>
		</li>
		<li>
			<a href="/update-info">Actualizar mi Información</a>
		</li>
		<li>
			<a href="/my-info">Información personal</a>
		</li>
		<li>
			<a href="/change-password">Cambiar mi contraseña</a>
		</li>
		<li>
			<a href="/change-email-or-phone">Cambiar mi email o telefóno</a>
		</li>
		<li>
			<a href="/legal_infos">Información Legal</a>
		</li>
		<li>
			<a href="/claims">Libro de Reclamaciones</a>
		</li>
		<li>
			<a href="/user-addresses">Direcciones de usuario</a>
		</li>
		<li>
			<a href="/user-billings">Dirección de facturación</a>
		</li>
		<li>
			<a href="/banners">Banners</a>
		</li>
		<li>
			<a href="/establishment">Sucursal</a>
		</li>
		<li>
			<a href="/categories">Categorías</a>
		</li>
		<li>
			<a href="/card">Tarjeta</a>
		</li>
		<li>
			<a href="/shop-tables">Tiendas - Tablas auxiliares</a>
		</li>
		<li>
			<a href="/shop-products">Tiendas - Listado de productos</a>
		</li>
		<li>
			<a href="/shop-product">Tiendas - Detalles de un producto</a>
		</li>
	</ul>
</aside>

<style>
	aside{
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		width: 200px;
		box-shadow: 0 0 20px rgba(0,0,0,.1);
		background-color: white;
	}
	.logo{
		padding: 1rem;
		text-align: center;
	}
	aside ul{
		margin: 0;
		padding: 0 0 0 10px;
	}
	aside li{
		list-style: none;
	}
	aside li a{
		font-size: 14px;
		text-decoration: none;
	}
	.menu-vertical a {
		font-weight: 400;
		line-height: 1;
	}
	.menu-vertical li{
		padding: .25rem 0;
	}
</style>