---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Geor Ecommerce - Paises">
    <h5>Marcas</h5>
    <hr />
    <p>
        Se requiere autenticación y validación para acceder a estas API.
        Asegúrese de proporcionar las credenciales adecuadas.
    </p>
    <hr />
    <p>
        <strong>Tabla de referencias</strong>
    </p>

    <table>
        <thead>
            <tr>
                <th>Columna</th>
                <th>Descripción</th>
                <th>Tipo de dato</th>
                <th>Requerido</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>marca</td>
                <td>Nombre o descripción de la marca</td>
                <td>String</td>
                <td>Si</td>
            </tr>
            <tr>
                <td>code</td>
                <td>Código o abreviatura de la marca</td>
                <td>String</td>
                <td>Si</td>
            </tr>
            <tr>
                <td>active</td>
                <td>Si la marca esta activa o no</td>
                <td>boleano</td>
                <td>Si</td>
            </tr>
        </tbody>
    </table>
    <hr />

    <h6>Listado de Marcas</h6>

    <p>
        <strong>Descripción:</strong>Endpoint para ver todo el listado de los
        marcas
    </p>
    <p>
        <strong>URL:</strong>
        <span>http://pasion.georfacturacion.test/api/v1/brands</span>
    </p>
    <p><strong>Método:</strong>GET</p>
    <p>
        <strong>Request:</strong>
    </p>
    <pre>
        No se requieren parámetros adicionales para esta solicitud.
    </pre>
    <p>
        <strong>Respuesta</strong>
    </p>

    <pre>
		{ JSON.stringify({
            "data": [
                {
                    "id": 1,
                    "marca": "termianr",
                    "code": "wert",
                    "active": 0
                }
            ],
            "success": true,
            "message": "Listado de mostrados de forma correcta."}, null, 2)}
    </pre>

    <h6>Registro de Marca</h6>
    <p>
        <strong>Descripción:</strong>Endpoint para registrar marcas
    </p>
    <p>
        <strong>URL:</strong>
        <span>http://pasion.georfacturacion.test/api/v1/brands/register</span>
    </p>
    <p><strong>Método:</strong>POST</p>

    <p>
        <strong>Request:</strong>
    </p>
    <pre>
    {
    JSON.stringify({
    "marca":"hhh",
    "code":"we",
    "active":true
    }, null, 2)
    }
    </pre>
    <p>
        <strong>Respuesta</strong>
    </p>
    <pre>
        { JSON.stringify({
            "data": {
                "id": 2,
                "marca": "hhh",
                "code": "we",
                "active": true
            },
            "success": true,
            "message": "Exito marca creado de forma correcta ."}, null, 2)}
    </pre>

    <h6>Actualizar Marca</h6>
    <p>
        <strong>Descripción:</strong>Endpoint para actualiza Marcas
    </p>
    <p>
        <strong>URL:</strong>
        <span
            >http://pasion.georfacturacion.test/api/v1/brands/update/[Identificador]</span
        >
    </p>
    <p><strong>Método:</strong>PUT</p>

    <p>
        <strong>Request:</strong>
    </p>
    <pre>
    {
    JSON.stringify({
    "marca": "termianr",
    "code": "wert",
    "active": false
}, null, 2)
    }
    </pre>
    <p>
        <strong>Respuesta</strong>
    </p>
    <pre>
	{ JSON.stringify({
        "data": {
            "id": 1,
            "marca": "termianr",
            "code": "wert",
            "active": false
        },
        "success": true,
        "message": "Marca actualizado de forma correcta."}, null, 2)}
    </pre>

    <h6>Eliminar Marca</h6>
    <p>
        <strong>Descripción:</strong>Endpoint elimina el Marca
    </p>
    <p>
        <strong>URL:</strong>
        <span
            >http://pasion.georfacturacion.test/api/v1/brands/delete/[Identificador]</span
        >
    </p>
    <p><strong>Método:</strong>DELETE</p>

    <p>
        <strong>Request:</strong>
    </p>
    <pre>
    No se requieren parámetros adicionales para esta solicitud.
    </pre>
    <p>
        <strong>Respuesta</strong>
    </p>
    <pre>
	{ JSON.stringify({
   "success": true,
    "message": "Marca eliminado de forma correcta.",
    }, null, 2)}
    </pre>
</MainLayout>
