---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title="Geor Ecommerce - Paises">
	<h5>Validar mi cuenta</h5>
	<hr />
	<p>
		<strong>Descripción: </strong>Endpoint para validar el correo electrónico y el número de telefóno de la cuenta asociada
	</p>
	<br>
	<h6>Enviar código de verificación al teléfono</h6>
	<p>
		<strong>URL: </strong>
		<span>http://pasion.georfacturacion.test/api/v1/ecommerce/send-verification-code/phone</span>
	</p>
	<p><strong>Método: </strong>POST</p>
	<p>
		<strong>Respuesta</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "success": true,
    "message": "Se ha enviado un código al siguiente número de telefóno 978846767, revise y siga las instrucciones por favor."
}, null, 2)}
	</pre>
	<br>
	<h6>Validar código enviado al telefóno</h6>
	<p>
		<strong>URL: </strong>
		<span>http://pasion.georfacturacion.test/api/v1/ecommerce/validate-verification-code/phone</span>
	</p>
	<p><strong>Método: </strong>POST</p>
	<p>
		<strong>Request</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "code": 444494
}, null, 2)}
	</pre>
	<p>
		<strong>Respuesta</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "success": true,
    "message": "El telefóno se ha validado de forma correcta."
}, null, 2)}
	</pre>
<br>
<br>
	<h6>Enviar código de verificación al correo electrónico</h6>
	<p>
		<strong>URL: </strong>
		<span>http://pasion.georfacturacion.test/api/v1/ecommerce/send-verification-code/email</span>
	</p>
	<p><strong>Método: </strong>POST</p>
	<p>
		<strong>Respuesta</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "success": true,
    "message": "Se ha enviado un código al siguiente correo electrónico, revise y siga las instrucciones por favor."
}, null, 2)}
	</pre>
	<br>
	<h6>Validar código enviado al correo electrónico</h6>
	<p>
		<strong>URL: </strong>
		<span>http://pasion.georfacturacion.test/api/v1/ecommerce/validate-verification-code/email</span>
	</p>
	<p><strong>Método: </strong>POST</p>
	<p>
		<strong>Request</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "code": 444494
}, null, 2)}
	</pre>
	<p>
		<strong>Respuesta</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "success": true,
    "message": "El correo electrónico se ha validado de forma correcta."
}, null, 2)}
	</pre>


	<br>
<br>
	<h6>Reenviar código de verificación al telefóno</h6>
	<p>
		<strong>URL: </strong>
		<span>http://pasion.georfacturacion.test/api/v1/ecommerce/resend-verification-code/phone</span>
	</p>
	<p><strong>Método: </strong>POST</p>
	<p>
		<strong>Respuesta</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "success": true,
    "message": "Mensaje de validación enviado de forma correcta."
}, null, 2)}
	</pre>
	<br>
	<h6>Reenviar código de verificación al correo electrónico</h6>
	<p>
		<strong>URL: </strong>
		<span>http://pasion.georfacturacion.test/api/v1/ecommerce/resend-verification-code/email</span>
	</p>
	<p><strong>Método: </strong>POST</p>
	<p>
		<strong>Respuesta</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "success": true,
    "message": "Mensaje de validación enviado de forma correcta."
}, null, 2)}
	</pre>
</MainLayout>
