---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Geor Ecommerce - Paises">
    <h5>Tipo de Existencia</h5>
    <hr />
    <p>
        Se requiere autenticación y validación para acceder a estas API.
        Asegúrese de proporcionar las credenciales adecuadas.
    </p>
    <hr />
    <p>
        <strong>Tabla de referencias</strong>
    </p>

    <table>
        <thead>
            <tr>
                <th>Columna</th>
                <th>Descripción</th>
                <th>Tipo de dato</th>
                <th>Requerido</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>number</td>
                <td>Número o identificador de la sunat</td>
                <td>String</td>
                <td>Si</td>
            </tr>
            <tr>
                <td>description</td>
                <td></td>
                <td>String</td>
                <td>Si</td>
            </tr>
            <tr>
                <td>reference_code</td>
                <td>Código de referencia para el tipo de existencia</td>
                <td>String</td>
                <td>No</td>
            </tr>
            <tr>
                <td>active</td>
                <td>Si el tipo de existencia esta activo o no</td>
                <td>boleano</td>
                <td>Si</td>
            </tr>
        </tbody>
    </table>
    <hr />

    <h6>Listado de Tipo de Existencia</h6>

    <p>
        <strong>Descripción:</strong>Endpoint para ver todo el listado de los
        tipos de Existencia
    </p>
    <p>
        <strong>URL:</strong>
        <span>http://pasion.georfacturacion.test/api/v1/existence_type</span>
    </p>
    <p><strong>Método:</strong>GET</p>
    <p>
        <strong>Request:</strong>
    </p>
    <pre>
        No se requieren parámetros adicionales para esta solicitud.
    </pre>
    <p>
        <strong>Respuesta</strong>
    </p>

    <pre>
		{ JSON.stringify({
            "data": [
                {
                    "id": 1,
                    "number": "01",
                    "description": "MERCADERÍAS",
                    "reference_code": null,
                    "active": true
                },
                {
                    "id": 2,
                    "number": "02",
                    "description": "PRODUCTOS TERMINADOS",
                    "reference_code": null,
                    "active": true
                },
                {
                    "id": 3,
                    "number": "03",
                    "description": "MATERIAS PRIMAS",
                    "reference_code": null,
                    "active": true
                }],
    "success": true,
    "message": "Listado de mostrados de forma correcta."}, null, 2)}
    </pre>

    <h6>Registro de tipo de existencia</h6>
    <p>
        <strong>Descripción:</strong>Endpoint para registrar los tipo de
        existencia
    </p>
    <p>
        <strong>URL:</strong>
        <span
            >http://pasion.georfacturacion.test/api/v1/existence_type/register</span
        >
    </p>
    <p><strong>Método:</strong>POST</p>

    <p>
        <strong>Request:</strong>
    </p>
    <pre>
    {
    JSON.stringify({
    "number": "121",
    "description": "MERCADERÍAS",
    "reference_code": null,
    "active": true
    }, null, 2)
    }
    </pre>
    <p>
        <strong>Respuesta</strong>
    </p>
    <pre>
        { JSON.stringify({
            "data": {
            "id": 26,
            "number": "121",
            "description": "MERCADERÍAS",
            "reference_code": null,
            "active": true
            },
            "success": true,
            "message": "Exito tipo de existencia creado de forma correcta ."}, null, 2)}
    </pre>

    <h6>Actualizar Tipo Existencia</h6>
    <p>
        <strong>Descripción:</strong>Endpoint para actualiza tipo de existencia
    </p>
    <p>
        <strong>URL:</strong>
        <span
            >http://pasion.georfacturacion.test/api/v1/existence_type/update/[Identificador]</span
        >
    </p>
    <p><strong>Método:</strong>PUT</p>

    <p>
        <strong>Request:</strong>
    </p>
    <pre>
    {
    JSON.stringify({
    "description": "juan",
    "reference_code": null,
    "active": false
    }, null, 2)
    }
    </pre>
    <p>
        <strong>Respuesta</strong>
    </p>
    <pre>
	{ JSON.stringify({
        "data": {
            "id": 25,
            "number": "121",
            "description": "juan",
            "reference_code": null,
            "active": false
        },
        "success": true,
        "message": "Tipo existencia actualizado de forma correcta."}, null, 2)}
    </pre>

    <h6>Eliminar Tipo Existencia</h6>
    <p>
        <strong>Descripción:</strong>Endpoint elimina el tipo existencia
    </p>
    <p>
        <strong>URL:</strong>
        <span
            >http://pasion.georfacturacion.test/api/v1/existence_type/delete/[Identificador]</span
        >
    </p>
    <p><strong>Método:</strong>DELETE</p>

    <p>
        <strong>Request:</strong>
    </p>
    <pre>
    No se requieren parámetros adicionales para esta solicitud.
    </pre>
    <p>
        <strong>Respuesta</strong>
    </p>
    <pre>
	{ JSON.stringify({
   "success": true,
    "message": "Tipo existencia eliminado de forma correcta.",
    }, null, 2)}
    </pre>
</MainLayout>
