---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title="Geor Ecommerce - Paises">
	<h5>CRUD de dirección de facturación</h5>
    <p>
    Se requiere autenticación y validacion para acceder a estas API.
    Asegúrese de proporcionar las credenciales adecuadas.
    </p>

	<hr/>

    <h6>Registrar la dirección de facturacion</h6>
	<p>
		<strong>Descripción: </strong>Endpoint para registrar la dirección de facturacion del usuario
	</p>
	<p>
		<strong>URL: </strong>
		<span>http://pasion.georfacturacion.test/api/v1/ecommerce/billings/register</span>
	</p>
	<p><strong>Método: </strong>POST</p>

	<p>
  <strong>Request: </strong>
    </p>
    <pre>
    {
    JSON.stringify({
    "business_name":"Apex",
    "tax_identifier":"12453654",
    "fiscal_address":"campoy",
    "default":true
    }, null, 2)
    }
    </pre>
    <p>
    <strong>Tabla de referencias</strong>
    </p>

	<table>
		<thead>
			<tr>
				<th>Columna</th>
				<th>Descripción</th>
				<th>Tipo de dato</th>
				<th>Validación</th>
				<th>Requerido</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>business_name</td>
				<td>Nombre de la persona o compañia</td>
				<td>String</td>
				<td>Máximo 200 caracteres </td>
				<td>Si</td>
			</tr>
			<tr>
				<td>tax_identifier</td>
				<td>Identificador fiscal</td>
				<td>String</td>
				<td>Máximo 15 caracteres</td>
				<td>Si</td>
			</tr>
			<tr>
				<td>fiscal_address</td>
				<td>Dirección fiscal</td>
				<td>String</td>
				<td>Máximo 200 caracteres</td>
				<td>Si</td>
			</tr>
			<tr>
				<td>default</td>
				<td>Valor que indica si la fila es la predeterminada</td>
				<td>Bool</td>
				<td></td>
				<td>Si</tdódigo d>
			</tr>
		</tbody>
	</table>
	<p>
		<strong>Respuesta</strong>
	</p>
	<pre>
		{ JSON.stringify({
     "data": {
        "id": 4,
        "business_name": "Apex",
        "tax_identifier": "12453654",
        "fiscal_address": "campoy",
        "default": true
    },
    "success": true,
    "message": "Tipo de documento creado de forma correcta."
    }, null, 2)}
    </pre>

     <h6>Listado de direcciones de facturación</h6>
	<p>
		<strong>Descripción: </strong>Endpoint para ver todo el listado de las direcciones de facturación	
	</p>
	<p>
		<strong>URL: </strong>
		<span>http://pasion.georfacturacion.test/api/v1/ecommerce/billings</span>
	</p>
	<p><strong>Método:</strong>GET</p>
	<p>
    <strong>Request:</strong>
    </p>
    <pre>
    No se requieren parámetros adicionales para esta solicitud.
    </pre>
    <p>
		<strong>Respuesta</strong>
	</p>

	<pre>
		{ JSON.stringify({
        "data": [
        {
            "id": 4,
            "business_name": "Apex",
            "tax_identifier": "12453654",
            "fiscal_address": "campoy",
            "default": 1
        }
    ],
    "success": true,
    "message": "Listado de Facturación mostrados de forma correcta."
    }, null, 2)}
    </pre>


     <h6>Actualizar dirección de facturación </h6>
	<p>
		<strong>Descripción: </strong>Endpoint actualiza la dirección de Facturación del usuario
	</p>
	<p>
		<strong>URL: </strong>
		<span>http://pasion.georfacturacion.test/api/v1/ecommerce/billings/update/[Identificador]</span>
	</p>
	<p><strong>Método: </strong>PUT</p>

	<p>
  <strong>Request: </strong>
    </p>
    <pre>
    {
    JSON.stringify({
    "business_name":"michael",
    "tax_identifier":"12453654",
    "fiscal_address":"campoy",
    "default":false
    }   , null, 2)
    }
    </pre>
	<p>
	<strong>Respuesta</strong>
	</p>
	<pre>
		{ JSON.stringify({
        "data": {
            "id": 4,
            "business_name": "michael",
            "tax_identifier": "12453654",
            "fiscal_address": "campoy",
            "default": false
    },
    "success": true,
    "message": "El tipo de documento seleccionado fue actualizado de forma correcta."}, null, 2)}
    </pre>


    <h6>Eliminar la direccion de facturación del usuario</h6>
	<p>
		<strong>Descripción: </strong>Endpoint para elimina la dirección de facturación del usuario
	</p>
	<p>
		<strong>URL: </strong>
		<span>http://pasion.georfacturacion.test/api/v1/ecommerce/billings/delete/[Identificador]</span>
	</p>
	<p><strong>Método: </strong>DELETE</p>

	<p>
    <strong>Request: </strong>
   </p>
    <pre>
    No se requieren parámetros adicionales para esta solicitud.
    </pre>
    <p>
    
	<strong>Respuesta</strong>
	</p>
	<pre>
	{ JSON.stringify({
   "success": true,
    "message": "Información procesada con éxito",
    }, null, 2)}
    </pre>
</MainLayout>
